{{ define "main" }}
<main class="page-main pa4" role="main">
  <section class="page-content mw7 center">
    <article class="post-content pa0">
      <header class="post-header">
        <h1 class="f1 lh-solid measure-narrow mb3 fw4">{{ .Title }}</h1>
        {{ if .Params.subtitle }}<h4 class="f4 mt0 mb4 lh-title measure">{{ .Params.subtitle }}</h4>{{ end }}

        {{ $images := .Resources.ByType "image" }}
        {{ $photo := $images.GetMatch "*feature*" }}
        {{ with $photo }}
        <img src="{{ .RelPermalink }}" class="w-100 br2 mb4" alt="{{ $.Title }}">
        {{ end }}

        {{ if .Params.links }}
        <div class="ph0 pb4">
          {{ partial "shared/btn-links.html" . }}
        </div>
        {{ end }}
      </header>
      <section class="post-body pt2 pb4">
        {{ .Content }}
      </section>
    </article>
  </section>
</main>
{{ end }}
